.message-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(104, 104, 104, 0.616);
}

.message-container.left {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(197, 197, 197, 0.616);
}

.message-container.right {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(82, 82, 82, 0.616);
}

.message-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message-header.left {
  justify-content: flex-start;
}
.message-header.right {
  justify-content: flex-end;
}

.message-header img {
  border-radius: 8px;
}

.message-header h5 {
  margin: 0 0 0 20px;
  font-size: 12px;
}
